// .formatted {
//     text-size-adjust: "none";
//     tab-size: 2;
//     margin: 0;
//     font-family: inherit;
//     counter-reset: step;
//     counter-increment: step 0;
//     font-variant-ligatures: none;
// }

.editor {}

.textarea {
    -webkit-text-fill-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: calc(var(--line-number-width) + 1rem);
    margin-bottom: 0.5rem;
}