.formatted {
    text-size-adjust: "none";
    tab-size: 2;
    margin: 0;
    font-family: inherit;
    counter-reset: step;
    counter-increment: step 0;
    font-variant-ligatures: none;
}

.editor {
    -webkit-text-fill-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
}